NODE_ENV=development
PORT=3000
MONGODB_URI=your_mongodb_atlas_uri_here
JWT_SECRET=your_jwt_secret_minimum_32_chars
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
NEWS_API_KEY=3c7ba4423c3a4a258c5d34cfdc385864
NEWS_API_BASE_URL=https://newsapi.org/v2